rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isVerifiedUser(userId) {
      return request.auth != null &&
          request.auth.uid == userId &&
          request.auth.token.email_verified == true;
    }

    match /users/{userId} {
      allow read, write: if isVerifiedUser(userId);
    }

    match /users/{userId}/goals/{goalId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/countdowns/{countdownId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/tracking_sessions/{sessionId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/daily_statistics/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/weekly_statistics/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/monthly_statistics/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/yearly_statistics/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/total/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/streak/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/leveling/{docId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }

    match /users/{userId}/settings/{settingId} {
      allow read, write, delete: if isVerifiedUser(userId);
    }
  }
}

