<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451402739791-vnih0uu3ol85v7mlahs5imeab4qqdhpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451402739791-vnih0uu3ol85v7mlahs5imeab4qqdhpe</string>
	<key>API_KEY</key>
	<string>AIzaSyA76cLYgPJvqPAEoTc98HZrpLElKGGbRvg</string>
	<key>GCM_SENDER_ID</key>
	<string>451402739791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindnew.timeplus</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-4b625</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-4b625.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451402739791:ios:2afbe6301c0bfb3ff0fa3a</string>
</dict>
</plist>